# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment
.env
.env.*

!.env.example

# Build
dist/
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.pid

# Misc
*.tgz